/* === Global Reset & Base Styles === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  min-height: 100vh;
  
  background-image: url('../assets/BG_IMG.JPG');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* === Responsive Layout === */

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1400px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 12px;
  }
}

/* === Custom Fonts === */

@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("/assets/fonts/GeneralSans-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Ranade-Light";
  src: url("./assets/fonts/Ranade-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ranade-Regular";
  src: url("./assets/fonts/Ranade-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Extralight";
  src: url("/assets/fonts/GeneralSans-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}